.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  margin-left: 0.1rem;
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: baseline;
  animation: blink 1s step-end infinite;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

