/* App.css */

/* Базовый сброс и глобальные стили */


html, body {
  height: 100%;
}

/* Основная структура */
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px); /* Вычитаем высоту header */
  margin-top: 80px; /* Высота header */
  width: 100%;
}
.content-wrapper-business {
  margin-top: 50px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: var(--onyx-midnight);
  height: 100%;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.page-content-business {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Адаптивные отступы */
@media (max-width: 768px) {
  .page-content {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .page-content {
    padding: 1rem;
  }
}