:root {
  /* Базовые настройки */
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Цветовая схема */
  color-scheme: light dark;
  --text-primary: rgba(255, 255, 255, 0.87);
  --bg-primary: #242424;
  --bg-secondary: #1a1a1a;
  --accent-color: #646cff;
  /* --accent-color: #f40076; */
  --accent-hover: #535bf2;
  --bg-red: #e74c3c;
  --bg-red-hover: #da190b;
  --bg-green: #0cbf57;
  --bg-green-hover: #009516;
  --bg-blue: #3498db;
  --bg-blue-hover: #2980b9;
  --bg-purpule: #f40076;

  
  color: var(--text-primary);
  background-color: var(--bg-primary);
 

  /* Оптимизации рендеринга */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Типография */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2rem, 5vw, 3.2em);
}

/* Ссылки */
a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: var(--accent-hover);
}

/* Кнопки */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 
    border-color 0.25s,
    transform 0.1s;
}

button:hover {
  border-color: var(--accent-color);
}

button:active {
  transform: scale(0.98);
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Адаптивные настройки */
/* @media (prefers-color-scheme: light) {
  :root {
    --text-primary: #213547;
    --bg-primary: #ffffff;
    --accent-hover: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
  }
} */

@media (max-width: 768px) {
  body {
    padding: 0 1rem;
  }
}